<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hora entrada e saida</title>
     <!--Bootstrap-->
     <link rel="stylesheet" href="../public/css/bootstrap.min.css">
     <!--css personalizar-->
     <link rel="stylesheet" href="../public/css/style.css">
     <!--Inpedir a execulção de scripts externos ou não autorizados-->
     <meta http-equiv="content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
</head>
<body>
    <div class="container">
        <h1 class="d-flex justify-content-center mb-4"> Horário de  entrada e saida</h1>
    </div>
    <div class="container">
        <form action="" id="frmHentradasaida" class="mt-2 row g-3">
                <!--Buscar Cliente-->
        <div class="col-md-4">
            <input type="text" class="form-control" id="searchNota" maxlength="30" spellcheck="false" placeholder="Buscar cliente">
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" id="btnRead" onclick="searchNota()">Buscar</button>
        </div>
        <!--Buscar caminhão-->
        <div class="col-md-4">
            <input type="text" class="form-control" id="SearchNota" maxlength="30" spellcheck="false" placeholder="Buscar Caminhão">
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" id="btnRead" onclick="searchNota()">Buscar</button>
        </div>
            <hr class="mt-4 border-primary border -1">

            <!--Data de entrada-->
            <div class="col-md-3">
                <label for="inputDataentrada" class="form-label">Data de entrada </label>
                <input type="date" class="form-control" id="inputDataentrada" spellcheck="false" required maxlength="10" disabled>
            </div>

            <!--Horário de entrada-->
            <div class="col-md-2">
                <label for="inputHentrada" class="form-label">Horário de entrada</label>
                <input type="number" class="form-control" id="inputHentrada" spellcheck="false" required  disabled maxlength="5">
            </div>


            
            <!--Data de saida-->
            <div class="col-md-3">
                <label for="inputDatasaida" class="form-label">Data de saída </label>
                <input type="date" class="form-control" id="inputDarasaida" spellcheck="false" required disabled maxlength="10">
            </div>

            <!--Horário de saída-->
            <div class="col-md-2">
                <label for="inputHsaida" class="form-label">Horário de saída</label>
                <input type="number" class="form-control" id="inputHsaida" spellcheck="false" required disabled maxlength="5">
            </div>
            
            <!--Botões-->
            <div class="mt-5">
                <button type="submit" class="btn btn btn-success" id="btnsave"> Adicionar</button>
                <button type="button" class="btn btn-danger" id="btnDelete">Excluir</button>
            </div>

        </form>
    </div>
</body>
</html>