<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Titulo que será exibido na janela-->
    <title>Truck Park</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!--css personalizar-->
    <link rel="stylesheet" href="../public/css/style.css">
    <!--Inpedir a execulção de scripts externos ou não autorizados-->
    <meta http-equiv="content-Security-Policy" content="script-src 'self' 'unsafe-inline' ">
</head>
<body>


    <div class="container buttom">
        <img src="../public/img/cliente.png" alt="Clientes" title="Cadastro de clientes" onclick="cliente()">
        <img src="../public/img/camiao.png" alt="pc" title="emissão de os de camião" onclick="camiao()">
        <img src="../public/img/nota.png" alt="Nota" onclick="nota()">
        <img src="../public/img/truck.png" alt="Caminhao" id="logo">
    </div>
    <footer>
        <p id="dataAtual"></p>
        <img src="../public/img/dboff.png" alt="dbiconoff" id="statusdb">
    </footer>
    <!--Bootstrap-->
    <script src="../public/js/bootstrap.bundle.min.js"></script>
    <script src="../public/js/script.js"></script>
    <script src="render.js"></script>
</body>
</html>