<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nota</title>
     <!--Bootstrap-->
     <link rel="stylesheet" href="../public/css/bootstrap.min.css">
     <!--css personalizar-->
     <link rel="stylesheet" href="../public/css/style.css">
     <!--Inpedir a execulção de scripts externos ou não autorizados-->
     <meta http-equiv="content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
</head>
<body>
    <div class="container">
        <h1>Nota</h1>
    </div>
</body>
</html>