<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Truck Park- sobre</title>

    <link rel="stylesheet" href="../public/css/bootstrap.min.css">

    <link rel="stylesheet" href="../public/css/style.css">

    <meta http-equiv="content-Security-Policy" content="script-src 'self' ">

</head>

<body>
    <div class="container">
        <h1>Truck Park</h1>
        <p>Sistema para emissão de OS</p>
        <p>Autor: Kayque Franco</p>
        <p>sob a licença MIT</p>
    </div>

    <script src="../public/js/bootstrap.bundle.min.js"></script>
</body>

</html>