@charset "UTF-8";

/* Botões  (tela principal)*/
.buttom img {
    margin: 50px 15px 25px 15px ;
    padding: 5px;
    border: 1px solid #e8e8e8;
    cursor: pointer;

}

footer {
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

footer p {
    text-transform: uppercase;
    font-size: 13px;
    margin: 0 auto;
    color: white;
    padding-top: 7px;
}


/* Botao reset */
#btnReset {
    width: 64px;
    height: 64px;
    background-image: url('../img/vasoura.png');
    border: none;
    cursor: pointer;
}

#logo{
    position: fixed;
    bottom: 40px;
    right: 5px;
    border: none;
    cursor: none;
}


/* ocutar o campo id do cliente */
#idClient{
    display: none;
    
}





#idTruck{
    display: none;
}




/*lista de clientes vinculado a nota*/
#viewListSuggestion{
    z-index: 2;
    max-width: 382px;
    margin-top: 52px;
}



#buttonBuscarNota{
    margin-left: 300px;
}